nav.bg-color {
    background: #31333b;
    color: #fff;
    min-height: 60px;
    margin-bottom: 0px;
    border-radius: 0;
    border: none;
}
img.logo {
    display: -webkit-inline-box;
    margin: 0px 5px 0px 5px;
    width: 50px;
}

a.logo_position {
    padding: 4px 0px 0px 0px;
    color: #fff !important;
    font-size: 15px;
}
ul.arrow_group {
    margin: 4px 0;
}

li.arrow_move {
    margin: 0px 3px;
    background: #4b4d55;
    border-radius: 50%;
    width: 50px;
    text-align: center;
    height: 50px;
}

li.arrow_move > a > svg {
    color: #f8f8f8;
    font-size: 15px;
}
.swiper-container-horizontal>.swiper-pagination-progressbar, .swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    bottom: 0;
    top: auto;
}
span.swiper-pagination-progressbar-fill {
    background: #00c29a !important;
}
.footer.container-fluid {
    background: #31333b;
}
img#size_logo {
    width: 50px;
    margin: 10px;
}
.no-pad{
    padding: 0;
}
a.button_footer {
    display: block;
    padding: 20px;
    text-align: right;
    color: #fff;
    font-size: 17px;
}

a.button_footer::after {
    content: '>';
    font-family: monospace;
    margin: 0px 0px 0px 5px;
}