nav.bg-color {
    background: #31333b;
    color: #fff;
    min-height: 60px;
}
img.logo {
    display: -webkit-inline-box;
    margin: 0px 5px 0px 0px;
    width: 50px;
}

a.logo_position {
    padding: 4px 0px 0px 0px;
    color: #fff !important;
    font-size: 15px;
}